# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
.venv/
ENV/

# Media uploads
media/

# Collected static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Tailwind generated CSS
static/css/output.css